@page
@model ChevroletChevette.Pages.historiaCompletaModel
@{
}

<div class="secaoHistoria">
    <h3 class="tituloSecao">A História do Chevette</h3>
    <p class="subSecao">Modelo que fez sucesso durante 20 anos no Brasil, o Chevrolet Chevette foi uma aposta que deu certo, tendo boas vendas durante quase toda a sua existência e chegando a ser o carro mais vendido do país em 1983.</p>
    <p class="conteudoTotalSobre">
        Em 24 de abril de 1973, o Chevette foi apresentado à imprensa especializada na carroceria sedã (de duas portas e sem quebra-ventos). Disponível nas versões Standard e SL, o Chevette foi anunciado pela marca com o slogan “a GM não faria apenas mais um carrinho”.

        O objetivo era realçar seu projeto avançado, os milhões de dólares gastos na fábrica que o produziria e o importante fato de que o modelo estava sendo lançado primeiro aqui, e depois na Europa.

        Na época ele foi recebido muito bem, e suas linhas modernas eram sempre elogiadas.

        Em seu interior, o Chevette tinha ponto positivos e negativos. Por um lado ele era reconhecidamente um carro agradável de dirigir (especialmente quando comparado ao Fusca), com boa estabilidade e ótimo porta-malas.

        Por outro, a posição da direção e dos pedais (levemente inclinados para a esquerda, por causa do túnel central de transmissão) e a falta de conforto (especialmente para os ocupantes traseiros), eram pontos criticados pelos proprietários.

        A inovação do Chevette apareceu também no quesito segurança. Mesmo antes de serem exigidos por lei, itens como pisca-alerta e coluna de direção não-penetrante já estavam presentes no sedã. Além disso, ele tinha duplo circuito de freios e suspensão bem calibrada.

        O motor usado era um 1.4 de 68 cv, com comando de válvulas no cabeçote (o primeiro do país acionado por correia dentada), e o câmbio tinha quatro marchas.

        Com tração traseira, o Chevette acelerava razoavelmente bem, chegando até os 145 km/h, uma velocidade máxima dentro dos padrões da década de 1970.

    </p>
    <img src="~/img/chevette1.jpg" class="imgSecaoHistoria" />
    <p class="conteudoTotalSobre">
        Logo em seu lançamento, o Chevette apresentou algumas novidades para o mercado o nacional. Uma delas era a posição de seu tanque de combustível (de 45 litros), localizado atrás do encosto do banco traseiro, em posição inclinada.

        A ideia era que isso proporcionasse mais segurança aos ocupantes em caso de colisão, além de evitar algum furo no reservatório quando o carro passasse por algum objeto solto nas vias.

        Essa posição incomum para a época fez com que o bocal ficasse na coluna traseira, do lado direito, o que acabou sendo uma das marcas do Chevette.

        Foi em 1976 que chegou o famoso Chevette SL, um modelo mais requintado, que em alguns aspectos ia na contramão do que outras marcas ofertavam.

        Os bancos dianteiros tinham ajuste milimétrico e apoio de cabeça integrado, o acabame até alguns detalhes cromados.

    </p>
    <img src="~/img/chevette2.jpeg" class="imgSecaoHistoria" />
    <p class="conteudoTotalSobre">
        Em 1978 vieram algumas novidades importantes. A primeira foi uma reestilização do Chevette, que apresentou uma nova grade dianteira dividida. Além disso, a marca ousou ao lançar o Chevette de quatro portas, algo incomum para a época.

        Do mesmo tamanho do modelo duas portas, ele não fez sucesso por aqui. Continuou sendo feito, mas apenas para ser exportado para países vizinhos.

        As mudanças visuais mais importantes, porém, só apareceram no começo dos anos 1980. Primeiro a marca atualizou a traseira, colocando lanternas maiores e um novo para-choque. Além disso, o Chevette passou a ser oferecido com motor 1.4 movido a álcool, além de chegar o Chevette hatch.

        Essa opção tinha o tanque de combustível abaixo do porta-malas, para que o banco pudesse ser rebatido. Estava disponível nas versões básica ou SL, mas acabou não fazendo tanto sucesso, talvez por custar mais que o equivalente com a carroceria sedã.

        Tudo isso parece ter vindo na hora certa. Em 198o, o Chevette alcançava a marca de 500.000 unidades produzidas, além de ter seu melhor ano de vendas no Brasil: impressionantes 94.816 unidades.

        Pouco tempo depois, em 1983, ele chegou a ser o carro mais vendido do país, quando emplacou 85.984 unidades.

    </p>
    <img src="~/img/chevette3.jpg" class="imgSecaoHistoria" />
</div>