@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="conteudoSobre">
    <iframe class="videoFrame" src="https://www.youtube.com/embed/-yqW-SvZaw0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="secaoSobre">
        <h3 class="tituloSecao">A História do Chevette</h3>
        <p class="subSecao">Modelo que fez sucesso durante 20 anos no Brasil, o Chevrolet Chevette foi uma aposta que deu certo, tendo boas vendas durante quase toda a sua existência e chegando a ser o carro mais vendido do país em 1983.</p>
        <p class="conteudoTotalSobre">
            Em 24 de abril de 1973, o Chevette foi apresentado à imprensa especializada na carroceria sedã (de duas portas e sem quebra-ventos). Disponível nas versões Standard e SL, o Chevette foi anunciado pela marca com o slogan “a GM não faria apenas mais um carrinho”.

            O objetivo era realçar seu projeto avançado, os milhões de dólares gastos na fábrica que o produziria e o importante fato de que o modelo estava sendo lançado primeiro aqui, e depois na Europa.

            Na época ele foi recebido muito bem, e suas linhas modernas eram sempre elogiadas.
        </p>
        <a class="btnChamada" asp-page="/historiaCompleta">Ler história Completa</a>
    </div>

</div>

