@page
@model ChevroletChevette.Pages.modelosModel
@{
}
<div class="secaoModelos">
    <h3 class="tituloSecao text-center">
        Confira algumas versões deste carro:
    </h3>
    <div class="listaImagens">
        <ul class="listaModelos">
            <li class="itemListaModelos activeBtnModelo">Sedan</li>
            <li class="itemListaModelos">Hatch</li>
            <li class="itemListaModelos">Marajó</li>
            <li class="itemListaModelos">Chevy</li>
        </ul>
        <img src="~/img/chevetteSedan.jpg" id="imagemModelo" class="imgModelo " />
        <img src="~/img/chevetteHatch.jpg" id="imagemModelo" class="imgModelo hidden" />
        <img src="~/img/chevetteMarajo.jpeg" id="imagemModelo" class="imgModelo hidden " />
        <img src="~/img/chevy500.jpg" id="imagemModelo" class="imgModelo hidden " />
    </div>
    
</div>

 <script src="~/js/modelos.js"></script>